{% import 'base/macro.html' as macro %}
{% extends "base/base.html" %}
{% block header %}
    {{ macro.logged_header(username=user['email']) }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex align-items-start">
        <div class="card me-3">
            <div class="card-body">
                <h5 class="card-title">Добавить запись</h5>
                <form onSubmit="addArticle(event)">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="title" placeholder="Название">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" name="content" id="content" placeholder="Контент"></textarea>
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="subscription_level_id">
                            {% for sub_lvl in user['subscription_levels'] %}
                            <option value="{{sub_lvl.id}}">{{sub_lvl.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
        <div style="width: 100%">
            <h1>Записи</h1>
            {% for article in articles %}
                <div class="card mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <span>{{article.subscription_level.title}}</span>
                        <span>{{article.created_at}}</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{article.title}}</h5>
                        <p class="card-text">{{article.content}}</p>
                        <button class="btn btn-danger btn-sm" onClick="deleteArticle({{article.id}})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"><path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/><path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/></svg>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}